
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/course-list.css' %}">
{% endblock %}

{% block content %}

        
      
    <section class="section__learn_english container-fluid">
        <div class="section__learn_english_container">
            <div class="row">
                <div class="col-3">
                    <div class="bg-light p-3 rounded">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"><b>Search school</b></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Adults(16+)</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>English</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>United Kingdam</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>London</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <br>
                        </form>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Show only schools with a full refund in case of a visa rejection
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1"><b>Calculation of cost</b></label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>for 2 weeks</option>
                                <option>for 3 weeks</option>
                                <option>for 4 weeks</option>
                                <option>for 5 weeks</option>
                                <option>for 6 weeks</option>
                            </select>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck">
                            <label class="form-check-label" for="defaultCheck1">
                                Include accommodation in the shown prices
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="ml-3">
                        <h2><b>Learn English in London, United Kingdom</b> </h2>
                        {% comment %} <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <p class="mt-3">sort by</p>
                                <div class="sort_by_btn sort_by_btn-flex"><input class="sort_by_btn__child"
                                        type="submit" value="Our recommendations "><i
                                        class="fas fa-long-arrow-alt-down text-info"></i></div>
                                <input class="sort_by_btn" type="submit" value="best reviewed">
                                <input class="sort_by_btn" type="submit" value="price">
                            </div>
                            <div class="mt-3">
                                <h5 style="color: gray;">we've found 21 school</h5>
                            </div>
                        </div> {% endcomment %}
                        <div class="d-flex">
                            <div class='col-9' style="width: 84%;">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="{% static './img/69856-oxfordjpg-1537349802-400x230.jpg' %}" class="card-img"
                                                alt="...">
                                        </div>
                                        <div class="card__flex__column ml-3 my-3">
                                            <div class="">
                                                <h3 class="card-title"><b>Oxford International Greenwich</b> </h3>
                                                <p class="card-text" style="color: rgb(175, 169, 169);">London, United
                                                    Kingdom</p>

                                            </div>
                                            <div>
                                                <i style="color: gray;" class="far fa-user"></i><small style="padding-left: 5px;padding-right: 50px; color: gray;">from 16 years</small>
                                                <i style="color: gray;" class="fas fa-coins"></i><small style="color: gray;padding-left: 5px;">value for money</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-3' style="height: 210px">
                                <div class="ml-1">
                                    <div class="card" style="max-width: 100%; background-color:white; height:100%;  ">
                                        <div class="text-success ml-2 mt-2">retund in case of visa rejection <span class="border border-success" style="padding: 2px 4px; border-radius:50%;">?</span></div>
                                        <br>
                                        
                                        <div class="ml-2" style="line-height: 15px;">
                                            <h5 class="">From 1409 $</h5>
                                            <small class="">for 2 weeks</small>
                                            <br> 
                                            <br>
                                            <br> 
                                        </div>
                                        <button type="button" style="padding: 8px 27px; border: none;color: white;background-color: mediumturquoise;"><h4>Choose a course</h4> </button>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                        <div class="d-flex">
                           <div class='col-9' style="width: 84%;">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row no-gutters">
                                        <div class="col-md-4">
                                            <img src="./assets/img/69856-oxfordjpg-1537349802-400x230.jpg" class="card-img"
                                                alt="...">
                                        </div>
                                        <div class="card__flex__column ml-3 my-3">
                                            <div class="">
                                                <h3 class="card-title"><b>Oxford International Greenwich</b> </h3>
                                                <p class="card-text" style="color: rgb(175, 169, 169);">London, United
                                                    Kingdom</p>

                                            </div>
                                            <div>
                                                <i style="color: gray;" class="far fa-user"></i><small style="padding-left: 5px;padding-right: 50px; color: gray;">from 16 years</small>
                                                <i style="color: gray;" class="fas fa-coins"></i><small style="color: gray;padding-left: 5px;">value for money</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-3' style="height: 210px">
                                <div class="ml-1">
                                    <div class="card" style="max-width: 100%; background-color:white; height:100%;  ">
                                        <div class="text-success ml-2 mt-2">retund in case of visa rejection <span class="border border-success" style="padding: 2px 4px; border-radius:50%;">?</span></div>
                                        <br>
                                        
                                        <div class="ml-2" style="line-height: 15px;">
                                            <h5 class="">From 1409 $</h5>
                                            <small class="">for 2 weeks</small>
                                            <br> 
                                            <br>
                                            <br> 
                                        </div>
                                        <button type="button" style="padding: 8px 27px; border: none;color: white;background-color: mediumturquoise;"><h4>Choose a course</h4> </button>
                                    </div>
                                </div>
                                
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
    {% endblock %}




    
