
{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/course-list.css' %}">
{% endblock %}

{% block content %}

    <section class="section__learn_english">
        <div class="section__learn_english_container">
            <div class="row">
                <div class="col-3">
                    <div class="bg-light p-3 rounded">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1"><b>Search school</b></label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Adults(16+)</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>English</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>United Kingdam</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>London</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <br>
                        </form>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Show only schools with a full refund in case of a visa rejection
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1"><b>Calculation of cost</b></label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>for 2 weeks</option>
                                <option>for 3 weeks</option>
                                <option>for 4 weeks</option>
                                <option>for 5 weeks</option>
                                <option>for 6 weeks</option>
                            </select>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck">
                            <label class="form-check-label" for="defaultCheck1">
                                Include accommodation in the shown prices
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="ml-3">
                        <h2><b>Learn English in London, United Kingdom</b> </h2>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex">
                                <p class="mt-3">sort by</p>
                                <div class="sort_by_btn sort_by_btn-flex"><input class="sort_by_btn__child"
                                        type="submit" value="Our recommendations "><i
                                        class="fas fa-long-arrow-alt-down text-info"></i></div>
                                <input class="sort_by_btn" type="submit" value="best reviewed">
                                <input class="sort_by_btn" type="submit" value="price">
                            </div>
                            <div class="mt-3">
                                <h5 style="color: gray;">we've found 21 school</h5>
                            </div>
                        </div>

                        <div id="list-here"></div>

                        
                        


                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/course-list.js' %}"></script>
    {% endblock %}




    
