{% extends 'base.html' %}
{% load static %}

{% block css %}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<style>
    .created {
        width: 100%;
        height: 100px;
    }

    .save {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #cc7a00;
        font-size: 16px;
        color: #fff;

    }

    .next {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #cc7a00;
        font-size: 16px;
        color: #fff;
        display: none;
    }

    .auto {
        width: 50px;
        height: 50px;
        background-color: #cc7a00;
        border-radius: 2px;
        padding: 5px 10px 5px 10px;
        color: white;
        cursor: pointer;
    }

    .next {
        width: 150px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #cc7a00;
        font-size: 16px;
        color: #fff;
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<h1 class="text-center mt-5">Create Question</h1>
<!-- <div class="created text-center">

    <div class="for-image">
        <i class="far fa-plus-square" style="font-size: 90px; color: grey;"></i>
    </div>

</div>  -->


<form class='form_subject text-center question_form' action="/">


    <div id="is_auto" class="item mt-3 ">
        <label for="name">Make automated<span></span></label>
        <div class="name-item">
            <span class="yes auto">Yes</span>
            <span class="no auto">No</span>

        </div>

    </div>
    <div class="item mt-3">
        <label for="name">Question Title<span>*</span></label>
        <div class="name-item">
            <input class="input p-2" id="title" type="text" name="title" placeholder="Title" />

        </div>
    </div>

    <div class="item mt-3">
        <label for="name">Question<span>*</span></label>
        <div class="name-item">
            <textarea id="question" style="width: 450px;;" name="question" cols="30" rows="10"></textarea>

        </div>

    </div>

    <div style="display: none;" class="item mt-3 correct_answer_div">
        <label for="name">Correct answer<span></span></label>
        <div class="name-item">
            <input id="correct_answer" class="correct_answer" type="text" name="correct_answer">
        </div>

    </div>
    <div style="display: none;" class="other">
        <div style="display: block;" class="item mt-3 correct_answer">
            <label for="name">Upload Video <span></span></label>
            <div class="name-item">
                <input id="video" class="file" type="file" name="video">
            </div>

        </div>
        <div style="display: block;" class="item mt-3 correct_answer">
            <label for="name">Upload Image <span></span></label>
            <div class="name-item">
                <input id="image" class="file" type="file" name="image">
            </div>

        </div>
        <div style="display: block;" class="item mt-3 correct_answer">
            <label for="name">Upload link <span></span></label>
            <div class="name-item">
                <input id="link" class="file" type="text" name="link">
            </div>

        </div>
    </div>




    <button class='save mt-5' type="submit">Save</button>


</form>

<div class="next-div d-flex justify-content-center mt-5">
    <button class="next">Next</button>
</div>



{% endblock %}


{% block js %}
<script src="{% static 'js/create-question.js' %}"></script>

{% endblock %}