{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <style>
    .text-dark {
      color: white !important;
    }
  </style>
{% endblock %}

{% block content %}
    {% comment %} <link rel="stylesheet" href="./assets/css/reset.css" />
    <link rel="stylesheet" href="./assets/css/navbar.css" /> {% endcomment %}
    
   
    <!-- End Links -->
  </head>
 

    <header class="header">
      <div class="header__container">
        <div class="header__title">
          <div class="input">
            <h2>Look For Courses</h2>
            <p>
              Ambition accepted.Learn the latest skills to reach your
              profesional goals.
            </p>
            <a href="{% url 'core:course-list' %}">
            <button class="mt-3" style="border: none; border-radius: 5px; background-color: darkcyan; padding: 15px; color: white;">See Courses</button>
          </a>
          </div>
        </div>
      </div>
    </header>
    <!-- Header end -->
    <section class="exam">
      <div class="exam__container">
        <div class="exam__title">
          <span class="form"
            >Form example, <span class="weeks"> 2 weeks</span>
          </span>
          <div class="all">
            <span>All</span>
          </div>
        </div>
        <div class="fleximg">
          
        </div>
      </div>
    </section>
    <hr />
    <section class="work">
      <div class="work__container">
        <div class="work__title">
          <div class="worktext">
            <h3>How we work</h3>
          </div>
          <div class="workvideo">
            <img src="./assets/img/mac.jpg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <hr />
    <section class="instructor">
      <div class="instructor__container">
        <div class="instructor__title">
          <div class="insimg">
            <img src="https://images.unsplash.com/photo-1531482615713-2afd69097998?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="" />
          </div>
          <div class="instext" style="margin-left: 150px;">
            {% comment %} <h3>Become an instructor</h3> {% endcomment %}
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem
              molestiae nulla veritatis esse quam soluta atque eum vel. A esse
              alias obcaecati suscipit dolorem maxime consequatur corrupti
              temporibus voluptatibus qui?
            </p>
            {% comment %} <button>Start teaching today</button> {% endcomment %}
          </div>
        </div>
      </div>
    </section>
    <section class="udemy">
      <div class="udemy__container">
        <div class="udemy__title">
          <div class="udemytext">
            <h3>Taskilled for Busines</h3>
            <p>Get unlimited access to 5,500+ of Taskilled's top courser for your team</p>
            <button>Get Taskilled for Busines</button>
          </div>
          <div class="udemyimg">
            <img src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80" alt="">
          </div>
        </div>
      </div>
      
    </section>
    <footer class="bg-dark text-center text-white mt-0 display">

      <div class="d-flex text-center">

      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section class="">
          <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <p class="pt-2">
                  <strong>Subscribe</strong>
                </p>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                  <input type="email" id="form5Example2" class="form-control" placeholder="Email address" />
                  <label class="d-none form-label" for="form5Example2">Email address</label>
                </div>
              </div>
              <!--Grid column-->
    
              <!--Grid column-->
              <div class="col-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light mb-4">
                  Submit
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Section: Form -->
      </div>
      <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-youtube"></i
          ></a>
    
          <!-- Google -->
          <!-- <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-google"></i
          ></a> -->
    
          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <!-- <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-linkedin"></i
          ></a> -->
          <!-- Github -->
          <!-- <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a> -->
        </section>
        <!-- Section: Social media -->
      </div>
      
    </div>

<div class="row">
  <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2">
    <h6 class="">For students</h6>

    <ul class="list-unstyled mb-5">
      <li>
        <a href="{% url 'core:student-profile' %}" class="text-white">My account</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2" style="text-align: start; max-width: 18%;">
    <h6 class="">About company</h6>

    <ul class="list-unstyled mb-5" style="text-align: start;">
      <li class="mb-2">
        <a href="" class="text-white">Active program</a>
      </li>
      <li>
        <a href="" class="text-white">Contact us</a>
      </li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2" style="text-align: start;">
  

    <ul class="list-unstyled mb-5" style="text-align: start;">
      <li class="mb-2">
        <a href="" class="text-white">Create Task</a>
      </li>
    </ul>
  </div>
</div>
      <!-- Grid container -->
    
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="http://taskilled.com/">Taskilled</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
{% endblock %}

{% block js %}
    

    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}