{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/question.css' %}">
{% endblock %}
{% block content %}
<h1 id="success-here"></h1>
<div id="pk" class="d-none">{{question.pk}}</div>

<div class="heading pl-5 mt-4">
    <h1 style="font-size: 57px;" id="subject-title"> </h1>
    <br>
    <h1 class="ml-5" id="question-title"></h1>
</div>

<div class="description p-5 container">
    <p style="font-size: 20px;" id="question-desc"></p>
</div>
<hr>

<div class="options container pl-5">

    <div class=" radio-butto-container d-flex ">


    </div>

</div>

<div id="video" class="video">

</div>
<hr>
<form style="display: none;" class='form_subject text-center question_answer_form' id="open-form" action="/">


    <div class="container" style="display: flex;">


        <div style="display: block;" class="item mt-3 mb-5 p-3 correct_answer1">
            <span class="mt-3 mb-3" id="video1">Upload video</span>
            <div class="name-item mt-3">
                <input style="display: block;" id="video-input" class="file1" type="file" name="video">
            </div>
        </div>
        <div style="display: block;" class="item mt-3 mb-5 p-3 correct_answer1">
            <span class=" mt-3 mb-3" id="image1">Upload Image</span>
            <div class="name-item mt-3">
                <input style="display: block;" id="image-input" class="file1" type="file" name="image">
            </div>
        </div>
        <div style="display: block;" class="item mt-3 p-3 mb-5 correct_answer1">
            <span class=" mt-3 mb-3" id="link1">Write your answer</span>
            <div class="name-item mt-3">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>

    </div>
    <button class='save mt-2' type="submit">Answer</button>




</form>

<div id="editor">

</div>
<div>

    <button id="next"
        style="border: none; padding: 10px; border-radius: 5px; margin-top: 10px; margin-left: 1000px; background:#cc7a00;">Answer</button>
    <a id="next-a" style="display: none;" href="">
        <button
            style="border: none; padding: 10px; border-radius: 5px; margin-top: 10px; margin-left: 1000px;">Next</button>
    </a>
</div>
<script src="{% static 'js/question-answer.js' %}"></script>


{% endblock %}

{% block js %}
<script src="ckeditor5-build-classic/ckeditor.js"></script>

<script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error)
        })
</script>
{% endblock %}