{% extends 'base.html' %}
{% load static %}
{% block css %}
    <style>
        
    </style>
{% endblock %}
{% block content %}
<h1 id="success-here"></h1>
<div id="pk" class="d-none">{{question.pk}}</div>

<div class="heading pl-5">
    <h1 style="font-size: 57px;" id="subject-title">   </h1>
    <br>
    <h1 class="ml-3" id="question-title"></h1>
</div>

<div class="description p-5">
    <p style="font-size: 20px;" id="question-desc"></p>
</div>

<div class="options">

    <div class="radio-butto-container d-flex">
        

    </div>

</div>

<div id="editor">

</div>
<div>

    <button id="next" style="border: none; padding: 10px; border-radius: 5px; margin-top: 10px; margin-left: 1000px;">Next</button  >
</div>
<script src="{% static 'js/question-answer.js' %}"></script>


{% endblock %}

{% block js %}
<script src="ckeditor5-build-classic/ckeditor.js"></script>

<script>
    ClassicEditor
    .create(document.querySelector('#editor'))
    .catch(error => {
        console.error(error)
    })
</script>
{% endblock %}